4_Piste_noir/flows_AIMEGSWO3.json
[
    {
        "id": "af0ec05852629a65",
        "type": "tab",
        "label": "AIME_GSWO3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "307b97b90c9eb78d",
        "type": "ui_switch",
        "z": "af0ec05852629a65",
        "name": "",
        "label": "Activate sensor",
        "tooltip": "",
        "group": "ab10d57d2c4e2dcd",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1084247b12460b1a",
        "type": "ui_text",
        "z": "af0ec05852629a65",
        "group": "cdb63d77941578c0",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f62421045e43c6f",
        "type": "ui_gauge",
        "z": "af0ec05852629a65",
        "name": "",
        "group": "cdb63d77941578c0",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Gas level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "fd5e6e213da90dab",
        "type": "mqtt in",
        "z": "af0ec05852629a65",
        "name": "Gaz",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "bd1752b4b7dad0b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 40,
        "wires": [
            [
                "9aec0cb9aeba41be"
            ]
        ]
    },
    {
        "id": "bbeb445a12d7f20a",
        "type": "mqtt out",
        "z": "af0ec05852629a65",
        "name": "",
        "topic": "v3/alievre-test-ttn@ttn/devices/eui-0004a30b00215812/down/push",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1752b4b7dad0b0",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "bbd6add404b904f1",
        "type": "inject",
        "z": "af0ec05852629a65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0, 42, 255, 0]",
        "payloadType": "bin",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "c7cad6d59b4eee1c"
            ]
        ]
    },
    {
        "id": "c7cad6d59b4eee1c",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "return {\n  \"payload\": {\n    \"downlinks\": [{\n      \"f_port\": 15,\n      \"frm_payload\": msg.payload.toString(\"base64\"),\n      \"priority\": \"NORMAL\"\n    }]\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 340,
        "wires": [
            [
                "bbeb445a12d7f20a"
            ]
        ]
    },
    {
        "id": "9aec0cb9aeba41be",
        "type": "json",
        "z": "af0ec05852629a65",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "3874f3dbc7869bdd"
            ]
        ]
    },
    {
        "id": "3874f3dbc7869bdd",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = msg.payload[\"uplink_message\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "94b5c8a6dbb9d337"
            ]
        ]
    },
    {
        "id": "94b5c8a6dbb9d337",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = msg.payload[\"decoded_payload\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "cb14e445e73a37d3"
            ]
        ]
    },
    {
        "id": "cb14e445e73a37d3",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = msg.payload[\"bytes\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6bab271966df9b52"
            ]
        ]
    },
    {
        "id": "6bab271966df9b52",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = msg.payload[0]*16+msg.payload[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 220,
        "wires": [
            [
                "8f62421045e43c6f",
                "83babef4fc8deaab"
            ]
        ]
    },
    {
        "id": "83babef4fc8deaab",
        "type": "switch",
        "z": "af0ec05852629a65",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "585382534314e66e"
            ],
            [
                "28f57351b227a2d2"
            ]
        ]
    },
    {
        "id": "585382534314e66e",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = \"Attention\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "1084247b12460b1a"
            ]
        ]
    },
    {
        "id": "28f57351b227a2d2",
        "type": "function",
        "z": "af0ec05852629a65",
        "name": "",
        "func": "msg.payload = \"OK\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "1084247b12460b1a"
            ]
        ]
    },
    {
        "id": "36b273f0b9ed4ebd",
        "type": "ui_spacer",
        "z": "af0ec05852629a65",
        "name": "spacer",
        "group": "cdb63d77941578c0",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "ae075edd05db6aaa",
        "type": "ui_spacer",
        "z": "af0ec05852629a65",
        "name": "spacer",
        "group": "cdb63d77941578c0",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "506b923680cf2986",
        "type": "ui_spacer",
        "z": "af0ec05852629a65",
        "name": "spacer",
        "group": "cdb63d77941578c0",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "ab10d57d2c4e2dcd",
        "type": "ui_group",
        "name": "Controls",
        "tab": "3e809870d2bcfcc4",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdb63d77941578c0",
        "type": "ui_group",
        "name": "Data",
        "tab": "3e809870d2bcfcc4",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd1752b4b7dad0b0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3e809870d2bcfcc4",
        "type": "ui_tab",
        "name": "AIME-GSWO3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]